{% extends "main_layout.html" %}

{% block main %}
<div class="container mt-5">
    <!-- private_lesson_reservation.html -->

    <h1 class="mb-4">Private Lesson Reservation</h1>

    <form action="{{ url_for('private_lesson_reservation') }}" method="post">
        <div class="form-group">
            <label for="activity_name">Activity Name:</label>
            <select class="form-control" name="activity_name" id="activity_name" required>
                {% for activity in activities %}
                <option value="{{ activity.ActivityName }}">{{ activity.ActivityName }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="instructor_name">Instructor Name:</label>
            <select class="form-control" name="instructor_name" id="instructor_name" required>
                {% for instructor in instructors %}
                <option value="{{ instructor.FirstName }} {{ instructor.LastName }}">{{ instructor.FirstName }} {{
                    instructor.LastName }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="lesson_datetime">Lesson Date and Time:</label>
            <input type="datetime-local" class="form-control" name="lesson_datetime" id="lesson_datetime" required>
        </div>

        <button type="submit" class="btn btn-primary">Make Reservation</button>
    </form>
</div>
{% endblock %}
